body {
  background-color: rgb(217, 208, 220);
}
div {
  border-style: double;
  border-color: rgb(0, 30, 255);
  padding:20px;
  margin: 20px;
}
footer {
  background-color: #ff8c82;
  text-align: right;
  font-weight: bold;
  padding: 20px;
  margin:20px;
  width: 250px;
}
h1 {
  color:blue;
  text-align:center;
  font-size:250%;
  }
.container {
  display: flex;
}

#block1, #block2 {
  flex: 1;
  margin: 2px;
  border: 1px solid gray;
  padding: 10px;
  background: lightgray;
}